
*,::before,::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior:smooth;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
@media (max-width:350px) {
  nav h1{
    width: 60% !important;
  }
  #socials div h1{
    font-size: 2.5rem !important;
    padding-bottom: 10px !important;
   }
  .social p{
    font-size:15px !important;
  }
  .fiverricon{
    width: 14px !important;
    top: 5px !important;
  }
}
@media (max-width:500px)and (min-width:50px) {
  nav ul {
    margin: 0 !important;
    margin-right: 1px !important;
  }
  #title{
    display:contents !important;
    justify-content: center !important;
    line-height:0px !important;
  }
}
@media (max-width:500px)and (min-width:350px) {
  .social{
    margin: 0 5px 0 5px !important;
  }
  .social p{
    display:block !important;
    height: auto !important;
    font-size: 16px !important;
    
   }
   .social i {
    display: block !important;
    justify-content: center;
    margin-bottom: 5px !important;
   }
   .fiverricon{
    display: block;
    justify-self: center;
    width: 15px !important;
    margin-bottom: 6px !important;
    top:5px !important;
    
   }
}

@media (min-width:500px) and (max-width:650px) {
  .social p{
    font-size: 20px !important;
  }
  .social i{
    top: 4px !important;
  }
  .fiverricon{
    width: 18px !important;
    top: 2px !important;
  }
}
@media (min-width:650px) and (max-width:800px) {
  .social{
    height: 120px !important;
    font-size: 24px !important;
    margin:0 10px 0 10px ;
   }
   .fiverricon{
    width:21px !important;
    top: 2px !important;
   }
   .social i {
    top: 4px !important;
   }
}
@media (max-width:800px){
  
   #navbar h1{
   font-size: 18px !important;
   text-align: center;
   position: relative;
   right: 30px;
   }
   #navbar ul {
    margin-right: 10px;
   }
   #navbar ul li a {
    font-size: 16px;
   }
   #welcome-section h1 ,#socials h1{
    font-size: 3rem !important;
   }
   #projects h2 {
    font-size: 2rem !important;
   }
   
   #projects{
    padding:0 30px 0 30px;
   }
   #projects hr {
    margin-top:20px !important;
   }
   #gallery{
    margin: 0 !important;
   }
   footer p{
    font-size: 15px;
   }
   
}

a{
  text-decoration: none;
}

html{
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


header{
  z-index: 10;
  position: fixed;
  display: flex;
  top: 0;
  width: 100vw;
  height: 10vh;
  

}

#scroll{
  position: fixed;
  height: 40px;
  width: 40px;
  border-radius: 25px;
  border: none;
  box-shadow: #6b6b6b 0px  1px 10px 0px;
  z-index: 10;
  right:15px;
  bottom: 25px;
  cursor: pointer;
  display: none;
}
.fa-chevron-up{
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 3px;
}

nav h1{
  padding-left: 5px;
  margin-left: 25px;
  width:70%;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  text-shadow: #070809 1px 5px 5px;
}
#title{
  
  color: #E2E8F0;
  
}
/* #logo{
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 3px;
  justify-content: flex-start;
  overflow: hidden;
} */


#navbar {
  background: rgba(10, 10, 20, 0.9); /* Slight transparency */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Soft shadow */
  backdrop-filter: blur(10px);
  display: flex;
  position: fixed;  
  height: 10vh;
  justify-content: flex-end; 
  align-items: center;
  width: 100%;
  margin: 0;
  overflow: hidden;
  
}


nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin-right:25px;
  width: 100vw;
  height: 10vh;
  justify-content: flex-end;
 
}


nav ul li {
  display: flex;
  width: 90px;
  height: 100%;
  text-align: center !important;
  align-items: center;
  justify-content: center;
}

nav ul li:hover{
  color: #00bcd4; /* Cyan accent */
    text-decoration: underline;
}

nav ul li a {
  color: #E2E8F0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  list-style: none; 
  font-size: 20px;
  
}
nav ul li a:visited {
  color: #E2E8F0;
  
}

/* Background styling */



/* #backimg{
  position:absolute;
  width: 850px;

  z-index: 0;
  opacity:10%;
} */
#welcome-section{
  padding: 0;
  margin: 0 ;
  font-family: Raleway;
  width: 100vw;
  height:100vh;
  /* background: linear-gradient(120deg, #141E30, #243B55); */
  display: flex;
  background: linear-gradient(180deg, #141e30, #243b55); /* Smooth gradient */
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  text-align: center;
}
#welcome-section h1 ,#socials h1{
  z-index: 1;
  padding: 0;
  font-size:4rem;
  font-weight: 800;
  width: 100%;
  color: #E2E8F0;
  font-family:"Raleway", sans-serif;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.8);

}
#welcome-section p{
  z-index: 1;
  color: #CBD5E1;
  font-weight: 300;
  font-size: 1.2rem;
  font-family:"Poppins", sans-serif;
}

#projects{
  text-align: center;
  padding-top: 5%;
  width: 100%;
  height: 100%;
  background-color: #e2e8f0 ;
  backdrop-filter: blur(8px);
  font-family: "Poppins", sans-serif;
  
  

}
#projects h2{
  font-weight: bold;
  font-family:"Raleway",sans-serif;
  font-size: 3rem;
  color: #374151;
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.1);



}
#projects hr {
  height: 3px;
  width: 700px;
  background-color: #2e344e;
  border: 0;
  display: flex;
  margin-top: 5px;
  margin-bottom:50px;
  justify-self: center;
}

#gallery {
  margin:0 100px 0 100px ;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Flexible columns */
  gap: 20px;
  justify-content: center; /* This ensures center alignment */
  place-items: center;
}

.project-tile {
  cursor: pointer;
  margin: 20px;
  width: 400px;
  height: 420px;
  display:flex;
  flex-direction: column;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  border-radius: 1px;
  justify-content: space-between;
  
}

.project-tile:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1.05);
  color: #8ac2ff !important;
}


.project-tile img{
  
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  object-fit: fill;
}
.project-tile p {
    height: 70px;
    display: flex;
    font-size: 19px;
    flex-direction: column;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    background-color: #2e344e;
    color: #E2E8F0;
    font-weight: 500;
}
.box p:hover{
  color: #8ac2ff !important;
}

.show{
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 70px;
  font-size: 19px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  height: 45px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border: 0;
  width: 125px;
  background: #38BDF8;
  color: #FFFFFF;
  border-radius: 8px;
  font-weight: bold;
  
  
}
.show:hover{
  background: #0891B2; transform: scale(1.1);
   transition: all 0.3s ease-in-out;
}
.fa-angle-right{  
  position: relative;
  top:3.6px; 
  font-size: 20px;
}

.social img{
  position: relative;
  top:0.2rem;
  margin-right: 5px;
  color: #E2E8F0;
  box-shadow: #181c21  1px 3px 5px;
}

#socials{
  padding-top:170px;
  background: #0d1626;
  text-align: center;
  overflow: hidden;
}

#contact{
  display: flex;
  justify-content: space-evenly;
  margin: 120px 0 150px 0px;
  overflow: hidden;
  height:70px;
}
.sub{
  color: #E2E8F0;
  font-size: 20px;
  opacity: 0.7;
  font-style: italic;
  font-family: "Poppins", sans-serif;
  font-weight: 200;

}

.divider{
  margin-top: 100px;
  border: 2px solid #E2E8F0;
}

.social{
  font-size: 27px;
  font-weight: bold;
  display: block;
  justify-content: space-evenly;
  height: auto;
  align-items: center;
  position: relative;
  transition: transform 0.3s ease-in-out;
  font-family: "Poppins" ,sans-serif;
  font-weight: 500; 
  flex-wrap: wrap;
  overflow: hidden;

}
.social:hover{
  transform:translateY(3px);
}

.social i{
  position: relative;
  top: 5px;
  color: #E2E8F0;
  margin:0 5px 0 5px;
}
.social a {
  color:#E2E8F0;
  text-shadow: #181c21  1px 3px 2px ;
}
footer{
  
  display:flex;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #E2E8F0;
  font-family:"Poppins",sans-serif;
  font-weight: 300;
}
footer p {
  opacity: 0.75;
  padding:0 75px 0 75px;
}
